<div class="signin">
  <h3 class="section-header">Login</h3>
  <form>
      <div class="form-group">
        <label for="email">Username</label>
        <input type="email" class="form-control" id="email" placeholder="email@company.com.fmt" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" required>
      </div>

      <button type="submit" class="btn btn-primary btn-block">Login</button>

      <div class="form-inline">
        <small class="form-text text-muted">Or</small>&nbsp;
        <small class="form-text"><a href="#" class="text-primary" routerLink='/signup'>register now!</a></small>
      </div>
    </form>
</div>
