<div class="category">
  <h3 class="section-header">Category</h3>
  <form>
    <!-- filter categories -->
    <div class="form-group" id="search">
      <label for="input" class="sr-only"></label>
      <input type="text" class="form-control form-control-lg" placeholder="Search for existing categories">
    </div>

    <!-- add new category -->
    <div class="form-row" id="add">
      <div class="form-group col-10 col-sm-10 col-md-10">
        <input type="text" class="form-control form-control-lg" placeholder="Add a new Category">
      </div>
      <div class="form-group col-2 col-sm-2 col-md-2">
        <button class="btn btn-primary btn-block">
          <span class="fa fa-plus"></span>
        </button>
      </div>
    </div>

    <ul class="list-unstyled">
      <li *ngFor="let category of filteredCategories">
        <div class="form-row" id="search-result">
          <!-- name of category -->
          <div class="form-group col-8 col-sm-8 col-md-8 text-center">
            <input type="text" class="form-control" value="{{category.category}}"
            [readOnly]="!category.editing">
          </div>
          <!-- enable category for editing -->
          <div class="form-group col-2 col-sm-2 col-md-2 text-center" [ngClass]="category.editing?'hide':'show'">
            <button class="btn btn-primary btn-block btn-sm" (click)="activate(category)">
              <span class="fa fa-pencil-square-o"></span>
            </button>
          </div>
          <!-- delete the category -->
          <div class="form-group col-2 col-sm-2 col-md-2" [ngClass]="category.editing?'hide':'show'">
            <button class="btn btn-danger btn-block btn-sm" (click)="delete(category)">
              <span class="fa fa-ban"></span>
            </button>
          </div>
          <!-- updates the change made to category -->
          <div class="form-group col-4 col-sm-4 col-md-4" [ngClass]="category.editing?'show':'hide'">
            <button class="btn btn-primary btn-block text-white pt-2 fa fa-lg fa-check" (click)="update(category)"></button>
          </div>

        </div>
      </li>
    </ul>

    <!-- Information -->
    <div class="form-inline">
      <small class="form-text text-muted">Want to Start fresh?</small>&nbsp;
      <small class="form-text">
        <a href="#" class="text-primary" routerLink='/signin'><u>Delete all categories</u>.</a>
      </small>
    </div>

  </form>
</div>
