.fa-6x {
    font-size: 6em;
 } .fa-7x {
    font-size: 7em;
} .fa-8x {
    font-size: 8em;
} .fa-9x {
    font-size: 9em;
}

.text-silhouette {
    color: rgba(211, 211, 211, 0.5);
}

 .section-header {
     margin-bottom: 1rem;
}

.card {
    box-shadow: 0 1px 10px 2px var(--shadow-color);
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 0.5rem;
}

.hide {display: none;}
.show {display: block;}

input {
    font-size: 0.8rem;
}

form ul li div div {
    margin-bottom: 0.5rem;
}
