<div class="category">
  <h3 class="section-header">Category</h3>
  <form #categoryForm="ngForm" novalidate>
    <!-- add new category -->
    <div class="form-row" id="add">
      <div class="form-group col-12 mb-0">
        <label for="add" class="form-control-plaintext pl-2">Add category</label>
      </div>
      <div class="form-group col-8 col-md-9 col-lg-10">
        <input #addCategory type="text" class="form-control form-control-lg" placeholder="Add a new Category">
      </div>
      <div class="form-group col-4 col-md-3 col-lg-2">
        <button class="btn btn-primary btn-block" (click)="add(addCategory.value)">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <!-- filter categories -->
    <div class="form-group" id="search">
      <label for="search">Search categories</label>
      <input #searchCategory type="text" class="form-control form-control-lg"
      placeholder="Search for existing categories"
      (change)="filter(this)">
    </div>

    <ul class="list-unstyled form-row">
      <li class="col-12 col-lg-6" *ngFor="let category of filteredCategories">

        <div class="card bg-light text-center" id="category-{{filteredCategories.indexOf(category)}}">
          <!-- category icon -->
          <div class="card-body">
            <i class="fa fa-8x fa-exclamation-triangle text-silhouette"></i>
          </div>
          <!-- category name -->
          <div class="card-footer text-left">
            <h2 class="card-title" [hidden]="category.editing">{{category.category}}</h2>
            <input type="text" class="form-control-plaintext text-center"
            value="{{category.category}}" [hidden]="!category.editing" [autofocus]="category.editing">
          </div>
          <div class="buttons float-right">
            <!-- delete the category -->
            <button class="btn btn-danger  rounded-circle mr-2" (click)="delete(category)"
            [ngClass]="category.editing?'hide':'show'">
              <i class="fa fa-times"></i>
            </button>
            <!-- change the category name -->
            <button class="btn btn-primary rounded-circle mr-2" (click)="edit(category)"
            [ngClass]="category.editing?'hide':'show'">
              <i class="fa fa-pencil"></i>
            </button>
            <!-- update the category -->
            <button class="btn btn-success rounded-circle mr-2" (click)="update(category)"
            [ngClass]="category.editing?'show':'hide'">
              <i class="fa fa-check"></i>
            </button>
          </div>
        </div>

      </li>
    </ul>

    <!-- Information -->
    <div class="form-inline" [hidden]="true">
      <small class="form-text text-muted">Want to Start fresh?</small>&nbsp;
      <small class="form-text">
        <a href="#" class="text-primary" routerLink='/signin'><u>Delete all categories</u>.</a>
      </small>
    </div>

  </form>
</div>
