<!-- Navigation for login screen -->
<nav id="public-nav" class="float-right nav nav-pills">
  <a href="#" class="nav-item nav-link" routerLink="/signin" routerLinkActive="active-link">
    <i id="signin" class="fa fa-sign-in" aria-hidden="true"></i>
    <label for="signin" class="d-none d-lg-inline-block">Login</label>
  </a>
  <a href="#" class="nav-item nav-link" routerLink="/signup" routerLinkActive="active-link">
    <i id="signup" class="fa fa-user-plus" aria-hidden="true"></i>
    <label for="signup" class="d-none d-lg-inline-block">Signup</label>
  </a>
</nav>
